name: Legacy CI + CD Pipeline

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js 20
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Lint Phase
        run: npm run lint
        continue-on-error: true

      - name: Run Unit Tests
        run: npm run test

      - name: Build Static Files
        run: npm run build

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: react-app-build
          path: dist/


  deploy:
    needs: build 
    runs-on: ubuntu-latest

    steps:
      - name: Download Build Artifacts
        uses: actions/download-artifact@v4
        with:
          name: react-app-build

      - name: Simulate deployment
        run: echo "deploying to server"
